* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
}

.title {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.subtitle {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.selection {
  margin-top: 20px;
  height: 250px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.box{
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 80vh;
  padding: 20px;
  width: 80vw;
}

.radio{
  display:inline-block;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  justify-content:space-between;
  margin: 10px 0;
  margin-left: 0px;
  margin-right: 0px;
  font-family: sans-serif;
  color: #ffffff;
  font-size:18px;
  }
  

.generate {
  background-color: #08d;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  position:relative;
  bottom: 60px;
  }
  
.generate:active {
  background-color: #06b;
  }

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 2px;
  padding: 4px 20px 0;
  width: 100%;
  }

.placeholder {
  margin-top: 10px;
  width: 100%;
  padding: 7px;
  font-size: 20px;
  }
